<div class="background-image">
  <div class="row mx-0 align-items-center">
    <div class="col ml-5 mt-5">
      <img class="round-img" src="../../assets/images/round.jpg">
    </div>
    <div class="col mt-5">
      <div class="special">What makes us special</div>
      <hr>
      <div class="special-content">All our products are manufactured under strict quality and safety controls
        in the European Union. The products contain carefully selected ingredients that
        promote visible results and support a healthy lifestyle.
      </div>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center mx-0 free">
    <div class="col-auto mr-3 align-items-center d-flex">
      <i class="fa-solid fa-shield-heart free-icon"></i>
      <div class="free-content">CRUELTY <b>FREE</b></div>
    </div>
    <div class="col-auto mr-3 align-items-center d-flex">
      <i class="fa-solid fa-wheat-awn free-icon"></i>
      <div class="free-content">GLUTEN <b>FREE</b></div>
    </div>
    <div class="col-auto mr-3 align-items-center d-flex">
      <i class="fa-solid fa-flask-vial free-icon"></i>
      <div class="free-content">PARABENS & SULFATES <b>FREE</b></div>
    </div>
    <div class="col-auto mr-3 align-items-center d-flex">
      <i class="fa-solid fa-syringe free-icon"></i>
      <div class="free-content">GMO <b>FREE</b></div>
    </div>
  </div>
  <div class="row mx-0 justify-content-center">
    <div class="col justify-content-start d-flex">
      <h1 class="best-sellers">
        Best Sellers
      </h1>
    </div>
  </div>
  <div class="row mx-0 justify-content-center">
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product_1.png">
      <div class="product">
        Perfect Strokes Matte Liquid Liner
      </div>
      <div class="price">
        $19.00
      </div>
    </div>
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product_2.png">
      <div class="product">
        Perfect Strokes Universal Volumizing Mascara
      </div>
      <div class="price">
        $20.00
      </div>
    </div>
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product_3.png">
      <div class="product">
        Always an Optimist Pore Diffusing Primer
      </div>
      <div class="price">
        $26.00
      </div>
    </div>
  </div>
  <div class="row mx-0 justify-content-center">
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product_4.png">
      <div class="product">
        Liquid Touch Multi-Tasking Sponge
      </div>
      <div class="price">
        $7.00
      </div>
    </div>
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product5.png">
      <div class="product">
        Liquid Touch Foundation Brush
      </div>
      <div class="price">
        $28.00
      </div>
    </div>
    <div class="col-auto my-5">
      <img class="bs-img" src="../../assets/images/product6.png">
      <div class="product">
        Kind Words Matte Lipstick
      </div>
      <div class="price">
        $15.00
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col f-flex justify-content-start">
      <div class="shade-finder">
        Foundation Shade Finder
      </div>
    </div>
  </div>
  <div class="row mx-0 justify-content-start">
    <div class="col">
      <div class="shade-finder-text">
        Find your best shade, along with complexion must-haves perfect for your skin tone. All in just 3 simple steps.
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <button class="match-me">
      MATCH ME
    </button>
  </div>
  <div class="row mx-0">
    <div class="col-auto">
      
    </div>
  </div>
</div>